<h1>New Distribution</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.distribution_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.distribution_path(@conn, :index) %></span>
