<h1>Front Porch Light</h1>
<div class="meter">
    <span id="get" style="width: <%= @brightness %>%">
      <%= @brightness %>%
    </span>
</div>
<button phx-click="off">
    Off
</button>

<button phx-click="on">
    On
</button>
<button phx-click="down">
    Down
</button>

<button phx-click="up">
    Up
</button>